<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Typescript</title>
</head>
<body>
    <div id="divapp">
        <form action="" name="calculadora" autocomplete="off" disabled>
            <input type="textfield" name="pantalla2" id="pantalla2" [(ngModel)]="pantalla2">
            <input type="text" name="pantalla" id="pantalla" placeholder="0" [(ngModel)]="pantalla">

            <input type="button" value="7" class="gris" (click)="siete('')">
            <input type="button" value="8" class="gris" (click)="ocho('')">
            <input type="button" value="9" class="gris" (click)="nueve('')">
            <input type="button" value="+" class="naranja" (click)="mas()">
            <br>
            <input type="button" value="4" class="gris" (click)="cuatro('')">
            <input type="button" value="5" class="gris" (click)="cinco('')">
            <input type="button" value="6" class="gris" (click)="seis('')">
            <input type="button" value="-" class="naranja" (click)="menos()">
            <br>
            <input type="button" value="1" class="gris" (click)="uno('')">
            <input type="button" value="2" class="gris" (click)="dos('')">
            <input type="button" value="3" class="gris" (click)="tres('')">
            <input type="button" value="x" class="naranja" (click)="multi()">
            <br>
            <input type="button" value="C" (click)="c()">
            <input type="button" value="0" (click)="cero('')">
            <input type="button" value="=" class="naranja" (click)="igual()">
            <input type="button" value="/" class="naranja" (click)="divi()">
        </form>
    </div>
</body>
</html>